<?xml version="1.0"?>
<robot name="autocar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_ros2_control" default="false"/>

  <xacro:include filename="autocar_core.xacro" />

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="autocar_ros2_control.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="autocar_gazebo_control.xacro" />
  </xacro:unless>

</robot>