<?xml version="1.0"?>
<robot name="prius" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_ros2_control" default="false"/>
  <xacro:arg name="gazebo_control_config" default="prius_ackermann_gazebo_control.xacro"/>

  <xacro:include filename="prius_core.xacro" />

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="prius_ros2_control.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="$(arg gazebo_control_config)" />
  </xacro:unless>

</robot>
