<?xml version="1.0"?>
<robot name="virtual_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_ros2_control" default="false"/>
  <xacro:arg name="gazebo_control_config" default="virtual_robot_ackermann_gazebo_control.xacro"/>

  <xacro:include filename="virtual_robot_core.xacro" />

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="virtual_robot_ros2_control.xacro" />
  </xacro:if>
  <xacro:unless value="$(arg use_ros2_control)">
    <xacro:include filename="$(arg gazebo_control_config)" />
  </xacro:unless>

</robot>
